body{
    background-color: lightgrey;
    flex-direction: column;
    display: flex;
}

#newGridButton{
    margin: 5px;
    padding: 5px;
    background-color: yellow;
    max-width: 50px;
}

.canvasDiv{
    background-color: white;
}

.canvasRow{
    display: flex;
    flex-direction: row;
}

.canvas{
    height: 500px;
    width: 500px;
}

#body{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
